<!DOCTYPE html>
<html>
<head>
	<title>Grade Calcator</title>
	  <link rel="stylesheet" href="css/style.css" />
</head>
<body>


<div id="thing">

  	<legend class="legend">Average/Mean Calculator</legend>

<div id="divid">
<label>
What's Your First Grade?<br><input type="text" id="1" placeholder="Input 1st #"><br>
What About Your Second Grade?<br> <input type="text" id="2" placeholder="Input 2st #"><br>
And Third?<br><input type="text" id="3" placeholder="Almost there 3rd #">
</label>

</div>
</p>
<button id="button">Calculate</button>
<button onclick="myFunction()">Reset</button>
<p>
Calculated Grade: <span id="ans" style="color: green;"></span>
</p>

<!--try-->
<div class="wrapper">
	<p> <span id="an" style="color: green;"></span> <span id="and" style="color: red;"></span></p>

</div>

</div>

<script src="js/index.js"></script>
</body>
</html>
